* {
 font-family: Arial;
}
.card {
 font-size: 26px;
 text-align: center;
 color: #252425;
 background-color: #ffffff;
}
.hangul {
  color: #28da6d;
  font-weight: bolder;  
  text-align: center;
  font-size: 34px;
  text-decoration: none;
}
.translation {
  color: #252425
}
.pronounciation {
  color: #bec1c0;
  font-size: 26px;
}
.definition {
  color: #bec1c0;
  text-align: center;
  font-size: 20px;
}
.tags {
  color: #252425;
  text-align: center;
  font-size: 14px;
}
#Examples {
  colour: #16a8fb;
  font-size: 20px;
  display: none;
}
ul {
   margin-left: 0px;
   text-align: left;
   list-style: circle;
}
ul li:before {
   font-size: 70%;
   padding-right: 15px;
   vertical-align: middle;
}
#Link {
    text-decoration: underline;
    color: #72caff;
}